<header class="app-header" style="background:red;height:80px;"></header>

    <div class="header-left">

        <img src="../assets/logo/Math-Genius-logo.ico"
             class="logo">

        <div class="title">

            <h2>Math Genius</h2>

            <span>Professional Mathematics Desktop</span>

        </div>

    </div>

    <div class="header-center">

        <input
            type="text"
            id="globalSearch"
            placeholder="Search Formula, Class, Chapter...">

    </div>

    <div class="header-right">

        <button class="header-btn" title="Dark Mode">
            🌙
        </button>

        <button class="header-btn" title="Settings">
            ⚙
        </button>

        <button class="header-btn" title="Profile">
            👤
        </button>

    </div>

</header>