.sidebar{

position:fixed;

left:0;

top:0;

width:240px;

height:100vh;

background:#0c1d4d;

display:flex;

flex-direction:column;

padding-top:20px;

box-shadow:2px 0 10px rgba(0,0,0,.4);

}

.logo{

color:#00bfff;

font-size:28px;

font-weight:bold;

padding:20px;

}

.sidebar a{

color:white;

text-decoration:none;

padding:15px 25px;

transition:.3s;

font-size:18px;

}

.sidebar a:hover{

background:#16377f;

padding-left:35px;

color:#00c8ff;

}